# Default owner for all directories not owned by others
# The profiles team are the effective repo maintainers, but automatic
# generation/releasing PRs are in the purview of the librarian team.
*    @rudderlabs/infra @kuldeep0020 @nishantsharma @chandumlg


# We mark the librarian state file as unowned to avoid gatekeeping librarian operations on 
# a single owner.  This allows multiple teams to interact with librarian operations that cause
# changes to librarian state.
/.librarian/state.yaml
# Similarly, we mark the internal/generated/snippets directory unowned to avoid
# tracking granular ownership in the snippets directories, and to avoid chasing
# code owners approvals for things like snippet metadata versioning bumps which
# happen naturally as part of release activities.
/internal/generated/snippets/
